<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录页面</title>
    <link rel="stylesheet" href="./login.css">
</head>
<body>
    <div class="aa">
        <div class="logo"> 
            <img src="../img/huangmenji.png" alt="" srcset="">
        </div>
        <form action="../Controllers/login.php" method="post">
            用户名: <input type="text" name="username" id="" placeholder="请输入用户昵称">
            <br>
            密 &nbsp; 码: <input type="password" name="passwd" id="" placeholder="请输入用户密码">
            <br>
            <button type="submit">登录</button>
            <!-- <button type="submit">注册</button> -->
            <a href="./register.html">没账号,注册新账号</a>
        </form>
    </div>
</body>
</html>